* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body,
.navbar {
  background-color: gainsboro;
}

.header-card {
  width: 180px;
  background-color: gainsboro;
  transition: all 0.3s ease;
  box-shadow: rgba(25, 135, 84) 0px 5px 15px;
}

.header-card:hover {
  transform: translateY(-3px);
}

.header-img img {
  height: 800px;
}

.home-img,
.placesDetail-img {
  box-shadow: rgba(11, 9, 9, 0.35) 0px 5px 15px;
  padding: 0;
  margin: auto;
}

.home-img img,
.placesDetail-img img {
  width: 100%;
  max-height: 500px;
}

.footer-links {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease-in;
}

.footer-links:hover {
  color: rgb(84, 174, 97);
}

.footer-icons {
  color: white;
  transition: all 0.3s ease-in;
}

.footer-icons:hover {
  transform: scale(1.05);
  color: rgb(84, 174, 97);
}

.footer-arrow {
  bottom: 80px;
  right: 25px;
  z-index: 10;
}

.general-img img {
  object-fit: cover;
  border-radius: 5px;
  height: 300px;
  width: 100%;
}

.accommodation-card {
  width: 320px;
  height: fit-content;
}

.accommodation-card img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.notable-container {
  width: 100%;
  height: fit-content;
}

.notable-card {
  width: 400px;
  height: 550px;
}

.notable-card:hover .front-card {
  transform: rotateY(-180deg);
}

.notable-card:hover .back-card {
  transform: rotateY(0);
}

.front-card,
.back-card {
  box-shadow: rgba(11, 9, 9, 0.35) 0px 5px 15px;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  height: 100%;
}

.back-card {
  transform: rotateY(180deg);
}

.front-card img {
  width: 100%;
  height: 350px;
  border-radius: 50%;
}

.place-card:hover .description {
  transform: translateY(0);
}

.description {
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255, 0.6);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.tourism-cards,
.picture-card {
  width: 400px;
  height: fit-content;
  box-shadow: rgba(11, 9, 9, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
}

.tourism-cards img,
.picture-card img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.gallery-card {
  width: 200px;
  height: fit-content;
  box-shadow: rgba(11, 9, 9, 0.35) 0px 5px 15px;
  transition: all 0.4s ease-in-out;
}

.gallery-card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.picture-card:hover,
.gallery-card:hover {
  transform: scale(1.15);
}

.modal {
  display: block;
  z-index: 20;
}

.modal-content {
  border-radius: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  /* max-height: calc(100vh - 30%);
  max-width: calc(100vw - 30%); */
  width: 100%;
  height: 100vh;
  /* overflow: auto; */
  position: relative;
}

.modal-content img {
  width: 100%;
  height: 100%;
}

.prev,
.next,
.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.close {
  right: 50px;
  top: 100px;
}

textarea {
  resize: none;
}

@media only screen and (max-width: 1120px) {
  .header-img img {
    height: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .header-img img {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .header-img img {
    height: 330px;
  }

  .header-card {
    width: 230px;
  }
}

@media only screen and (max-width: 550px) {
  .header-img img {
    height: 270px;
  }

  .header-card {
    width: 210px;
  }
}

@media only screen and (max-width: 430px) {
  .header-img img {
    height: 230px;
  }

  .header-card {
    width: 200px;
  }
}
