* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header-card {
  width: 180px;
  background-color: gainsboro;
  transition: all 0.3s ease;
  box-shadow: rgba(169, 5, 5, 0.35) 0px 5px 15px;
}

.header-card:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 1120px) {
  .header-img img {
    height: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .header-img img {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .header-img img {
    height: 300px;
  }

  .header-card {
    width: 230px;
  }
}

@media only screen and (max-width: 550px) {
  .header-img img {
    height: 250px;
  }

  .header-card {
    width: 210px;
  }
}

@media only screen and (max-width: 430px) {
  .header-img img {
    height: 200px;
  }

  .header-card {
    width: 200px;
  }
}
