* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: gainsboro;
}

.header-card {
  width: 180px;
  background-color: gainsboro;
  transition: all 0.3s ease;
  box-shadow: rgba(25, 135, 84) 0px 5px 15px;
}

.header-card:hover {
  transform: translateY(-3px);
}

.header-img img {
  height: 800px;
}

.home-img {
  box-shadow: rgba(11, 9, 9, 0.35) 0px 5px 15px;
  padding: 0;
  margin: auto;
}

.home-img img {
  max-height: 500px;
}

.footer-links {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease-in;
}

.footer-links:hover {
  color: dodgerblue;
}

.footer-icons {
  color: white;
  transition: all 0.3s ease-in;
}

.footer-icons:hover {
  transform: scale(1.05);
  color: dodgerblue;
}

.footer-arrow {
  bottom: 80px;
  right: 25px;
}

.food-img img {
  object-fit: cover;
  border-radius: 5px;
  height: 300px;
  width: 100%;
}

.accommodation-card {
  width: 320px;
  height: fit-content;
}

.accommodation-card img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

textarea {
  resize: none;
}

@media only screen and (max-width: 1120px) {
  .header-img img {
    height: 500px;
  }
}

@media only screen and (max-width: 950px) {
  .header-img img {
    height: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .header-img img {
    height: 330px;
  }

  .header-card {
    width: 230px;
  }
}

@media only screen and (max-width: 550px) {
  .header-img img {
    height: 270px;
  }

  .header-card {
    width: 210px;
  }
}

@media only screen and (max-width: 430px) {
  .header-img img {
    height: 230px;
  }

  .header-card {
    width: 200px;
  }
}
